flask-app.tar
# Archivos de Python
*.pyc
*.pyo
__pycache__/

# Entorno virtual
venv/
env/
.env

# Docker containers
containers/

# Archivos relacionados con Docker (creados para imagen Docker)
Dockerfile
.dockerignore
build_docker.sh
build_docker.bat
DOCKER_INSTRUCTIONS.md

# Archivos de configuración del sistema
*.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de dependencias del sistema
node_modules/

# Archivos de configuración de IDEs
.vscode/
.idea/