body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

h1 {
            color: #333;
            font-weight: 600;
        }

.container {
            max-width: 700px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

#red {
            height: 500px;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 8px;
            margin-top: 20px;
        }

tool-tip {
            position: absolute;
            z-index: 1;
            pointer-events: none;
            user-select: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: .5rem 2rem;
            font-size: 12px;
            border-radius: 8px;
            top: 100%;
            left: 12.5%;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

:has(>tool-tip):hover tool-tip {
            opacity: 1;
        }
   